.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 24px;
    text-align: center;
  }
  .popup:hover{
    background-color: grey;
  }

  
  .popup h2 {
    margin-top: 0;
    background-color:  lightgreen;
  }
  
  .popup p {
    margin-bottom: 24px;
  }
  .popup button:hover{
    background-color: lightgreen;

  }
  .otp-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }
  
  .otp-input-container input {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
  }
  
  .otp-input-container input:focus {
    outline: none;
    border-color: blue;
  }
  